<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">E-mail de Verificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro efetuado com sucesso...</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Confirme seu cadastro, caso não tenha recebido o email de confirmação, <a (click)="reenviaEmail()">Reenviar Email</a>
        ou vá direto para o login, <a (click)="telaLogin()">Fazer Login</a>.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
