<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Esqueci a senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  
    <form [formGroup]="formResetPassowrd" (ngSubmit)="reset()" class="fundo">
      <ion-item color="light">
          <ion-input formControlName="email" type="text" value="" placeholder="Email"></ion-input>
      </ion-item>


      <ion-row class="buttons">
        <ion-col *ngIf="!spinnerLoading">
          <ion-button color="light" expend="block" fill="outline" type="submit">Resetar Senha</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <div *ngIf="spinnerLoading"  class="spinnerCenter"  class="fundo">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
</ion-content>
