ion-button {
    display: block;
    font-weight: bolder;
    margin: 16px;
}

.erro {
    background-color: white; color: red; padding: 10px; margin: 16px;
}

ion-spinner {
    display: block;
    margin: auto;
    margin-top: 2em;
    color: blue;
}
