<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="height: 20%;">
  <div *ngIf="!skeleton">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="skeleton" class="container">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/avatar.png">
      </ion-avatar>

      <ion-label>
        <a (click)="visualizaPerfil(post)">{{nome}}</a>

        <h4>{{descricao}}</h4>
      </ion-label>
    </ion-item>
    <img [src]="imgPost" style="width: 100%; height: 350px!important;"> 
    <ion-item-divider>
      <ion-label>
        <ion-icon class="chatbox" name="chatbox" (click)="comment()"></ion-icon>
      </ion-label>
    </ion-item-divider>
  </div>

  <div *ngIf="inputComment" style="height: 22%;">
    <form [formGroup]="formComentario" (ngSubmit)="persistComentario()">
      <ion-item>
        <ion-input type="text" placeholder="Escreva seu comentário..." formControlName="descricao"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="block" type="submit">Cadastrar</ion-button>
        </ion-col>
      </ion-row>
      </form>
  </div>

  <div *ngIf="!show" style="height: 10%;">
      <ion-card-content>
        <strong>Nenhum comentário nesse post!</strong>
      </ion-card-content>
  </div>

  <div *ngFor="let comentario of comentarios">
    <div>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/avatar.png">
        </ion-avatar>
        <ion-label>
          <a (click)="visualizaPerfilComentario(comentario.users)">{{comentario.users.nome}}</a>
          <p>{{comentario.updated_at}}</p>
          <div class="container-comentario">
            <p>{{comentario.descricao}}</p>
          </div>
        </ion-label>
      </ion-item>
    </div>

  </div>

</ion-content>



