<ion-toolbar color="dark">
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Timeline</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="https://images.pexels.com/photos/405202/pexels-photo-405202.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="100" height="100"></ion-img> 
      <ion-card-title><strong>Postado por: </strong>{{nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Descrição: </strong>{{descricao}}
    </ion-card-content>
    <ion-card-content>
      <ion-icon class="chatbox" name="chatbox"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-content >
    <ion-card *ngFor="let comentario of comentarios">
      <ion-card-header>
        <ion-card-title>{{comentario.users.nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{comentario.descricao}}
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>

