<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button (click)="home()"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{userPerfil.nome}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="userPerfil.avatar">
    </ion-avatar>
    <ion-label>
      <h3>{{userPerfil.nome}}</h3>
      <p>{{userPerfil.email}}</p>
      <p>{{userPerfil.telefone}}</p>
    </ion-label>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button color="dark" expand="block" (click)="logout()">Sair</ion-button>
    </ion-col>
  </ion-row>
</ion-content>