ion-spinner {
    display: block;
    margin: auto;
    margin-top: 2em;
    color: blue;
}

.fundo {
    --background: #FFB800;
}

.imagem{
    width: 70%;
    margin-left: -2em;
}

ion-input {
    border-bottom: 1px solid black;
    --padding-bottom: 10px;
    --placeholder-color: black;
    font-size: 1.3em;
}

ion-row{
    margin: 10px;
}

.buttons {
    margin-top: 10%;
}
