.erro {
    background-color: white; color: red; padding: 10px;
}

ion-spinner {
    display: block;
    margin: auto;
    margin-top: 2em;
    color: blue;
}

ion-content {
    form {
        ion-item {
            div {
                display: flex;
                flex-direction: column;
            }
            ion-input {
                display: block;
            }
        }
    }
}

ion-button {
    display: block;
    font-weight: bolder;
    margin: 5px;
}
