<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastra Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formPost" (ngSubmit)="persistPost()">
      <ion-item>
        <ion-input type="text" placeholder="Descricao" formControlName="descricao"></ion-input>
      </ion-item>
      <div *ngIf="registerFormControl.descricao.errors" class="invalid-feedback">
        <div *ngIf="registerFormControl.descricao.errors.required">Preencha a descrição</div>
    </div>
      <ion-item>
        <ion-button (click)="abriGaleria()">Camera</ion-button>
      </ion-item>
      <div *ngIf="registerFormControl.imagem.errors" class="invalid-feedback">
        <div *ngIf="registerFormControl.imagem.errors.required">Insira uma imagem</div>
    </div>

      <ion-row>
        <ion-col *ngIf="!spinnerLoading">
          <ion-button color="dark" expand="block" type="submit">Cadastrar</ion-button>
        </ion-col>
      </ion-row>
  </form>
  <ion-content *ngIf="spinnerLoading"  class="spinnerCenter" class="fundo">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>
</ion-content>

