<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <form [formGroup]="formCadastrese" (ngSubmit)="cadastrese()">
    <ion-item color="light">
      <ion-input type="text" class="form-control" formControlName="nome" placeholder="Nome"></ion-input>
    </ion-item>
    <div *ngIf="registerFormControl.nome.errors" class="erro invalid-feedback">
      <div  class="colorValidacoes" *ngIf="registerFormControl.nome.errors.required">Preencher</div>
      <div  class="colorValidacoes" *ngIf="registerFormControl.nome.errors.minlength">Ao menos 4 letras</div>
    </div>

    <ion-item color="light">
      <ion-input  type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <div *ngIf="registerFormControl.email.errors" class="erro invalid-feedback">
      <div class="colorValidacoes" *ngIf="registerFormControl.email.errors.required">Preencher</div>
      <div  class="colorValidacoes"*ngIf="registerFormControl.email.errors.email">Email inválido</div>
    </div>

    <ion-item color="light">
      <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="password" placeholder="Senha"></ion-input>
      <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()"></ion-icon>
    </ion-item>
    <div *ngIf="registerFormControl.password.errors" class="erro invalid-feedback">
      <div class="colorValidacoes" *ngIf="registerFormControl.password.errors.required">Preencher</div>
      <div class="colorValidacoes"*ngIf="registerFormControl.password.errors.minlength">Ao menos 8 caracteres</div>
    </div>

    <ion-item color="light">
      <ion-input  [type]="isTextFieldTypeConfirm ? 'text' : 'password'" formControlName="passwordConfirm" placeholder="Confirmação de senha"></ion-input>
      <ion-icon [name]="isTextFieldTypeConfirm ? 'eye-off' : 'eye'" (click)="togglePasswordFieldTypeConfirm()"></ion-icon>
    </ion-item>
    <div *ngIf="registerFormControl.passwordConfirm.errors" class="erro invalid-feedback">
      <div class="colorValidacoes" *ngIf="registerFormControl.passwordConfirm.errors.required">Preencher</div>
    </div>

    <ion-item color="light">
      <ion-input  type="text" formControlName="telefone" [brmasker]="{mask:'(00) 0000-0000', len:15}" placeholder="Telefone"></ion-input>
    </ion-item>
    <div *ngIf="mostraErro" class="erro invalid-feedback">
      <div  class="colorValidacoes">Preencha o telefone</div>
    </div>

    <ion-item color="light">
      <ion-input  type="date" formControlName="data_nascimento">Data de Nascimento</ion-input>
    </ion-item>
    <div *ngIf="registerFormControl.data_nascimento.errors" class="erro invalid-feedback">
      <div class="colorValidacoes" *ngIf="registerFormControl.data_nascimento.errors.required">Preencha a data de nascimento</div>
    </div>

    <div *ngIf="!spinnerLoadingImg">
      <ion-item color="light" (click)="abriGaleria()">
        <ion-label>Imagem <span>{{tempBaseFilesystemPath}}</span></ion-label>
        <ion-icon name="images-outline"></ion-icon>
      </ion-item>
      
      <div *ngIf="imageUrl" style="width: 120px; height: 120px; margin: 12px auto;">
        <img [src]="imageUrl" style="width: 120px; height: 120px;">
      </div>
    </div>

    <div *ngIf="!spinnerLoading && !spinnerLoadingImg">
      <ion-button color="light" expend="block" fill="outline" shape="round" type="submit">Cadastrar</ion-button>
    </div>
  </form>

    <div *ngIf="spinnerLoading || spinnerLoadingImg"  class="spinnerCenter">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    
</ion-content>



