<ion-header>
  <ion-toolbar  color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">
  <ion-grid>

  <form [formGroup]="formCadastrese" (ngSubmit)="cadastrese()">
    <ion-row>
      <ion-input  type="text" formControlName="nome" placeholder="Nome"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input  type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input  type="password" formControlName="password" placeholder="Senha"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input  type="text" formControlName="telefone" placeholder="Telefone"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input  type="date" formControlName="data_nascimento" placeholder="Data de Nascimento"></ion-input>
    </ion-row>

  <ion-row>
    <ion-col *ngIf="!spinnerLoading">
      <ion-button color="dark" expand="block" type="submit">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-grid>

<ion-content *ngIf="spinnerLoading"  class="spinnerCenter" class="fundo">
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>
</ion-content>



