ion-spinner {
    display: block;
    margin: auto;
    margin-top: 2em;
    color: blue;
}

.fundo {
    --background: linear-gradient(rgba(255,235,77,0.4), rgba(255,235,77,1));
}

ion-input {
    border-bottom: 1px solid black;
    font-size: 1.3em;
    --padding-bottom: 10px;
    --placeholder-color: black;
}