
ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

ion-content {
    ion-button {
        display: block;
        font-weight: bolder;
    }
}

ion-footer {
    ion-toolbar {
        ion-title {
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}