    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title>
          <img src="../../assets/search.png" alt="logo de busca"/>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="tertiary" padding>
        <ion-button color="light" expend="block" fill="outline" shape="round" (click)="login()">Entrar</ion-button>
        <ion-button color="light" expend="block" fill="outline" shape="round" (click)="cadastrese()">Cadastre-se</ion-button>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">SeekApp</ion-title>
      </ion-toolbar>
    </ion-footer>


  

