    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title>
          <img src="../../assets/search.png" alt="logo de busca"/>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="tertiary" padding>
      <div *ngIf="!spinnerLoading">
        <ion-button color="light" expend="block" fill="outline" shape="round" (click)="login()">Entrar</ion-button>
        <ion-button color="light" expend="block" fill="outline" shape="round" (click)="cadastrese()">Cadastre-se</ion-button>
      </div>

      <div *ngIf="spinnerLoading"  class="spinnerCenter">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ion-content>

    <ion-footer *ngIf="!spinnerLoading" class="ion-no-border">
      <ion-toolbar color="tertiary">
        <div class="container">
          
          <ion-slides [options]="optionsSlides">
            
            <ion-slide>
              
              <div (click)="resetPassword()">
                <ion-icon style="margin-right: 5px" name="construct"></ion-icon>
                <span>Esqueci minha senha</span>
              </div>

            </ion-slide>
            <ion-slide>
              <div (click)="loginFb()">
                <ion-icon style="margin-right: 5px" name="logo-facebook" ></ion-icon>
                <span>Fazer login com o facebook</span>
              </div>

            </ion-slide>

          </ion-slides>
          
        </div>

      </ion-toolbar>
    </ion-footer>

  

