ion-button {
    margin-bottom: 0.1em;
    width: 85%;
    margin-left: 7%;
    --border-radius: 6%;

}
ion-button{
    font-weight: bolder;
}

ion-slides {
    height: 100%;
    margin-top: 3em;
}

.row-inicio {
    margin-top: 6em;
}


.fundo {
    --background: #8ac4d0;
}

.slides {
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif ;
}



