    <ion-content class="fundo">
      <ion-grid class="imagem">
        <img src="./../../assets/search.png">
      </ion-grid>
      <ion-grid class="slides">
        <ion-slides>
          <ion-slide>
            <h5>Seja bem vindo ao SeekApp</h5>
          </ion-slide>
          <ion-slide>
            <p>O seekApp busca ajudar voce a encontrar alguem perdido!</p>
          </ion-slide>
          <ion-slide>
            <p>Use o seekApp e nao perca quem voce ama!</p>
          </ion-slide>
        </ion-slides>
      </ion-grid>
      <ion-grid class="buttons">
        <ion-button color="dark" expand="block" (click)="login()">Entrar</ion-button>
        <ion-button color="dark" expand="block" (click)="cadastrese()">Cadastre-se</ion-button>
      </ion-grid>
    </ion-content>


  

